In [ ]:
import pandas as pd

df = pd.read_csv('CCOD_DEC25.csv')

In [3]:
df.head() # first 5 rows

,Title Number,Tenure,Property Address,District,County,Region,Postcode,Multiple Address Indicator,Price Paid,Proprietor Name (1),...,Proprietor (3) Address (2),Proprietor (3) Address (3),Proprietor Name (4),Company Registration No. (4),Proprietorship Category (4),Proprietor (4) Address (1),Proprietor (4) Address (2),Proprietor (4) Address (3),Date Proprietor Added,Additional Proprietor Indicator
0,BL87,Freehold,"17 Byron Street, Redfield",CITY OF BRISTOL,CITY OF BRISTOL,SOUTH WEST,NaN,N,NaN,THE CITY COUNCIL OF BRISTOL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19-02-1965,N
1,BL151,Freehold,"land on the west side of Stockwood Lane, Bristol",CITY OF BRISTOL,CITY OF BRISTOL,SOUTH WEST,NaN,N,3650000.0,CANAL & RIVER TRUST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01-08-2022,N
2,BL235,Freehold,"401 Bath Road, Arnos Vale, (BS4 3EZ)",CITY OF BRISTOL,CITY OF BRISTOL,SOUTH WEST,BS4 3EZ,N,NaN,401 BATH ROAD MANAGEMENT COMPANY LIMITED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18-07-2003,N
3,BL252,Freehold,"282-284 Wells Road, Bristol (BS4 2PY)",CITY OF BRISTOL,CITY OF BRISTOL,SOUTH WEST,BS4 2PY,N,NaN,TRADE PROPERTIES (BRISTOL) LIMITED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06-02-2015,N
4,BL351,Leasehold,The site of an Electricity Sub-Station lying t...,CITY OF BRISTOL,CITY OF BRISTOL,SOUTH WEST,NaN,N,NaN,WESTERN POWER DISTRIBUTION (SOUTH WEST) PLC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17-04-1962,N

In [ ]:
df.tail() # last 5 rows

In [ ]:
df.info() # general info

In [11]:
df.columns

Index(['Title Number', 'Tenure', 'Property Address', 'District', 'County',
       'Region', 'Postcode', 'Multiple Address Indicator', 'Price Paid',
       'Proprietor Name (1)', 'Company Registration No. (1)',
       'Proprietorship Category (1)', 'Proprietor (1) Address (1)',
       'Proprietor (1) Address (2)', 'Proprietor (1) Address (3)',
       'Proprietor Name (2)', 'Company Registration No. (2)',
       'Proprietorship Category (2)', 'Proprietor (2) Address (1)',
       'Proprietor (2) Address (2)', 'Proprietor (2) Address (3)',
       'Proprietor Name (3)', 'Company Registration No. (3)',
       'Proprietorship Category (3)', 'Proprietor (3) Address (1)',
       'Proprietor (3) Address (2)', 'Proprietor (3) Address (3)',
       'Proprietor Name (4)', 'Company Registration No. (4)',
       'Proprietorship Category (4)', 'Proprietor (4) Address (1)',
       'Proprietor (4) Address (2)', 'Proprietor (4) Address (3)',
       'Date Proprietor Added', 'Additional Proprietor Indicator'],
      dtype='object')

In [14]:
df["Company Registration No. (1)"] # returns a series
# len(df["Company Registration No. (1)"]) # 34718

0             NaN
1         7807276
2         4418374
3         7566539
4         2366894
           ...
34713    15733231
34714     1270695
34715    16265448
34716    12276549
34717      712890
Name: Company Registration No. (1), Length: 34718, dtype: object

In [ ]:
# filter down to just the data we want
df[["Proprietor Name (1)", "Company Registration No. (1)", "Proprietorship Category (1)", "Proprietor (1) Address (1)"]]

In [ ]:
# if df.iloc[x] != NaN >> populate the Companies House link
df.iloc[11]["Company Registration No. (1)"]

'2366894'

In [ ]:
# for entry in df:
#   df.iloc[entry]["Proprietorship Category (1)"]

In [ ]:
# filter to just the local auth
df[df["Proprietorship Category (1)"] == "Local Authority"]

In [ ]:
# a single & is an AND operator
df[(df["Proprietorship Category (1)"] == "Limited Company or Public Limited Company") & (df["Proprietorship Category (1)"] != "Local Authority")]

In [ ]:
# a single pipe | is an OR operator
df[(df["Proprietorship Category (1)"] == "Limited Company or Public Limited Company") | (df["Proprietorship Category (1)"] != "Local Authority")]

In [26]:
df[df["Proprietor Name (1)"].str.startswith("A")]

,Title Number,Tenure,Property Address,District,County,Region,Postcode,Multiple Address Indicator,Price Paid,Proprietor Name (1),...,Proprietor (3) Address (2),Proprietor (3) Address (3),Proprietor Name (4),Company Registration No. (4),Proprietorship Category (4),Proprietor (4) Address (1),Proprietor (4) Address (2),Proprietor (4) Address (3),Date Proprietor Added,Additional Proprietor Indicator
12,AV817,Freehold,"145 Two Mile Hill Road, St George, Bristol (BS...",CITY OF BRISTOL,CITY OF BRISTOL,SOUTH WEST,BS15 1BH,N,NaN,ALPHA PROPERTIES LIMITED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14-03-2006,N
30,AV1711,Freehold,"3 Boyces Avenue, Bristol (BS8 4AA)",CITY OF BRISTOL,CITY OF BRISTOL,SOUTH WEST,BS8 4AA,N,NaN,ALBERT LODGE LIMITED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,08-03-1999,N
47,AV4115,Freehold,"578 Bath Road, Brislington, Bristol (BS4 3LE)",CITY OF BRISTOL,CITY OF BRISTOL,SOUTH WEST,BS4 3LE,N,NaN,ASH CORPORATION LIMITED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-06-2021,N
74,AV7493,Freehold,"22 Balaclava Road, Bristol (BS16 3LJ)",CITY OF BRISTOL,CITY OF BRISTOL,SOUTH WEST,BS16 3LJ,N,225000.0,AL RAYAN BANK PLC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03-11-2017,N
133,BL6090,Freehold,"8 Southernhay Crescent, Bristol (BS8 4TT)",CITY OF BRISTOL,CITY OF BRISTOL,SOUTH WEST,BS8 4TT,N,315000.0,A & P PROPERTIES (SW) LIMITED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06-12-2023,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34682,BL148790,Leasehold,"27 Brookgate, Bristol (BS3 2UN)",CITY OF BRISTOL,CITY OF BRISTOL,SOUTH WEST,BS3 2UN,N,NaN,A&R SERVICES (ESW) LIMITED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30-04-2018,N
34688,BL148955,Leasehold,"Rooms G1-G24 The Park, Daventry Road, Bristol ...",CITY OF BRISTOL,CITY OF BRISTOL,SOUTH WEST,BS4 1DQ,N,47250.0,ABBEYWOOD TOTS DAY NURSERY LIMITED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17-05-2018,N
34703,BL168018,Leasehold,"St. Pius School, Gatehouse Avenue, Bristol (BS...",CITY OF BRISTOL,CITY OF BRISTOL,SOUTH WEST,BS13 9AB,N,NaN,ACORN NORFOLK LIMITED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29-10-2024,N
34709,BL168152,Freehold,"397 Southmead Road, Westbury On Trym, Bristol ...",CITY OF BRISTOL,CITY OF BRISTOL,SOUTH WEST,BS10 5LT,N,290000.0,ABBASSI PROPERTIES LTD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18-11-2024,N
34710,BL168202,Leasehold,"238a St Johns Lane, Bristol (BS3 5AU)",CITY OF BRISTOL,CITY OF BRISTOL,SOUTH WEST,BS3 5AU,N,200000.0,A.V.S PROPERTY DEVELOPMENT LIMITED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26-11-2024,N

In [ ]:
# more complex filter
df[df["Proprietorship Category (1)"].isin(["Corporate Body", "Limited Company or Public Limited Company", "Community Benefit Society (Company)", "Registered Society (Corporate Body)"])]

,Title Number,Tenure,Property Address,District,County,Region,Postcode,Multiple Address Indicator,Price Paid,Proprietor Name (1),...,Proprietor (3) Address (2),Proprietor (3) Address (3),Proprietor Name (4),Company Registration No. (4),Proprietorship Category (4),Proprietor (4) Address (1),Proprietor (4) Address (2),Proprietor (4) Address (3),Date Proprietor Added,Additional Proprietor Indicator
1,BL151,Freehold,"land on the west side of Stockwood Lane, Bristol",CITY OF BRISTOL,CITY OF BRISTOL,SOUTH WEST,NaN,N,3650000.0,CANAL & RIVER TRUST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01-08-2022,N
2,BL235,Freehold,"401 Bath Road, Arnos Vale, (BS4 3EZ)",CITY OF BRISTOL,CITY OF BRISTOL,SOUTH WEST,BS4 3EZ,N,NaN,401 BATH ROAD MANAGEMENT COMPANY LIMITED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18-07-2003,N
3,BL252,Freehold,"282-284 Wells Road, Bristol (BS4 2PY)",CITY OF BRISTOL,CITY OF BRISTOL,SOUTH WEST,BS4 2PY,N,NaN,TRADE PROPERTIES (BRISTOL) LIMITED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06-02-2015,N
4,BL351,Leasehold,The site of an Electricity Sub-Station lying t...,CITY OF BRISTOL,CITY OF BRISTOL,SOUTH WEST,NaN,N,NaN,WESTERN POWER DISTRIBUTION (SOUTH WEST) PLC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17-04-1962,N
5,BL559,Freehold,"97 Summerhill Road, St George, Bristol (BS5 8JT)",CITY OF BRISTOL,CITY OF BRISTOL,SOUTH WEST,BS5 8JT,N,265000.0,ROOST DESIGN AND BUILD LIMITED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,06-12-2018,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34713,BL168437,Leasehold,"Flat 2, 257 Hotwell Road, Bristol (BS8 4SF)",CITY OF BRISTOL,CITY OF BRISTOL,SOUTH WEST,BS8 4SF,N,NaN,HEARN LEASES LTD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,09-01-2025,N
34714,BL168606,Leasehold,"Costa Ltd, Avon Meads, St Philips Causeway, Br...",CITY OF BRISTOL,CITY OF BRISTOL,SOUTH WEST,BS2 0SP,N,NaN,COSTA LIMITED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16-02-2024,N
34715,BL169039,Leasehold,"103 Bishopsworth Road, Bristol (BS13 7JR)",CITY OF BRISTOL,CITY OF BRISTOL,SOUTH WEST,BS13 7JR,N,82000.0,WINTERS PROPERTY INVESTMENTS LIMITED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28-04-2025,N
34716,BL169114,Leasehold,"Flat 3, 237 Stapleton Road, Bristol (BS5 0PG)",CITY OF BRISTOL,CITY OF BRISTOL,SOUTH WEST,BS5 0PG,N,NaN,DS1 DEVELOPMENTS LTD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12-05-2025,N
34717,BL169211,Freehold,"7 Caledonia Place, Bristol (BS8 4DH)",CITY OF BRISTOL,CITY OF BRISTOL,SOUTH WEST,BS8 4DH,N,NaN,ROYAL YORK CRESCENT PROPERTY COMPANY LIMITED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30-05-2025,N

In [ ]:
# tilde ~ makes it 'is not in'
df[~df["Proprietorship Category (1)"].isin(["Corporate Body", "Limited Company or Public Limited Company", "Community Benefit Society (Company)", "Registered Society (Corporate Body)"])]